<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifrn.flavio.quizzfis" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.TelaSplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TelaPerguntas"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.TelaOpcoes"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.TelaPerguntasConfirmaResposta"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".activities.TelaCadastroRecord"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.TelaMultiplayerResultado"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.TelaEditarPerguntas"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.TelaEditarPerguntaIndividual"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.TelaCadastraNovaPergunta"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.TelaNomesJogadoresMultiplayer"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
    </application>

</manifest>
